<% layout('layouts/boilerplate')%>
	<h1>Gallery</h1>

	<div>
		<% for(let art of arts){ %>
			<div class="card" mb-3>

				<div class="row">
					<% for(let img of art.images){ %>
						<div class="col-md-4">
							<img src="<%=img.url%>" alt="" height="300px" width="200px"">
					</div>
					<% } %> 
					<div class=" col-md-8">
							<div class="card-body">
								<div class="card-title">
									<h4>
										<%= art.title %>
									</h4>
									<p class="card-text">
										<%=art.description%>
									</p>
									<a class="btn btn-primary" href="/gallery/<%=art._id%>">view <%=art.title%></a>
								</div>
							</div>
						</div>
				</div>
			</div>

			<% } %>
	</div>