<% layout('layouts/boilerplate')%>
	<link rel="stylesheet" href="/stylesheets/stars.css">
	<link rel="stylesheet" href="/stylesheets/show.css">
	<div>

		<% for(let img of art.images){ %>
			<div class="d-flex flex-column">
				<img src="<%=img.url%>" class="image-show" alt="image">
				<% } %>
				<div>
					<table class="table painting-description">
						<tbody>
							<tr>
								<td>
									Title:
								</td>
								<td>
										<%=art.title%>
								</td>
							</tr>
							<tr>
								<td>
									Description:
								</td>
								<td>
									<%=art.description%>
								</td>
							</tr>
							
								<tr>
								<td>Created by:</td>
								<td>
									<%=art.author.username%>
								</td>
							</tr>
						</tbody>
					</table>
				</div>

					<% if(currentUser && art.author.equals(currentUser._id)|| currentUser && currentUser.admin){%>
						<div>

							<form class="btn" action="/gallery/<%=art._id%>?_method=DELETE" method="POST">
								<button class="btn btn-secondary">delete</button>
							</form>
							<a class="btn btn-secondary" href="/gallery/<%=art._id%>/edit">Edit</a>
						</div>
						<%} %>
			</div>
	</div>

	</div>
	<% if(currentUser){ %>
		<div class="review-section">
			<p>Review</p>
			<form action="/gallery/<%=art._id%>/reviews" method="POST" class="validated-form mb-3" novalidate>
				<div class="mb-3">
					<div class="mb-3">
						<fieldset class="starability-heartbeat">
							<input type="radio" id="no-rate" class="input-no-rate" name="review[rating]" value="1"
								checked aria-label="No rating." />
							<input type="radio" id="first-rate1" name="review[rating]" value="1" />
							<label for="first-rate1" title="Terrible">1 star</label>
							<input type="radio" id="first-rate2" name="review[rating]" value="2" />
							<label for="first-rate2" title="Not good">2 stars</label>
							<input type="radio" id="first-rate3" name="review[rating]" value="3" />
							<label for="first-rate3" title="Average">3 stars</label>
							<input type="radio" id="first-rate4" name="review[rating]" value="4" />
							<label for="first-rate4" title="Very good">4 stars</label>
							<input type="radio" id="first-rate5" name="review[rating]" value="5" />
							<label for="first-rate5" title="Amazing">5 stars</label>
						</fieldset>
					</div>

				</div>
				<div class="mb-3">
					<label class="form-label" for=" body">Review Text:
					</label>
					<textarea class="form-control" name="review[body]" id="body" cols="30" rows="3" required></textarea>
					<div class="valid-feedback">
						Looks good!
					</div>
				</div>
				<button class="btn btn-success btn-sm">Submit</button>
			</form>

			<% } %>
				<%for(let review of art.reviews){%>
					<div class="review-container">
						<div class="speech-wrapper">
							<div class="bubble">
								<div class="delete-container">
									<form action="/gallery/<%=art._id%>/reviews/<%=review._id%>?_method=DELETE" method="post">
										<% if(currentUser && review.author.equals(currentUser._id)||currentUser && currentUser.admin){ %>
											<button class="close btn" aria-label="Close">
												<span aria-hidden="true">&times;</span>
											  </button>
											<% } %>
									</form>
								</div>	
								<div class="txt">
							
									<h6 class="name">by <%=review.author.username %>
									</h6>
									
									<p class="message"><%=review.body%>
									</p>
									<div class="star-container">
										<span class="starability-result timestamp" data-rating="<%=review.rating%>">
										</span>
									</div>
									<div class="bubble-arrow"></div>
								</div>	
							</div>
						</div>
					</div>
			<%}%>
		</div>
	</div>
